:root{

    /*----------------------------font-size--------------*/
    --fs-18:18px;
    --fs-36:36px;
    /*----------------------------font-weight-------------*/

    --fw-700:700;
    --fw-400:400;
}