@import url(/assets/css/roots.css);

.outline {
    outline: none;
}

.button {
    background: none;
    color: #1A9FFF;
}

.coment {
    border: 1px solid #00000033;
    border-radius: 25.5px;
    padding: 8px 24px;
}

.nav-bg {
    background: #FFFFFF;
    box-shadow: 0px 4px 35px 0px #00000014;
}

.card-img {
    border: 1px solid #0000001A;
    background: #FAFAFA;
}

.mb-76 {
    margin-bottom: 70px;
}

.search {
    border: 1px solid #00000033;
    padding: 2% 4%;
}

.gap-59 {
    gap: 59px;
}

.navbar-icon {
    display: none;
    height: 20px;
    width: 30px;

}

.h-3px {
    height: 3px;
}

.show-navbar {
    top: 0;
}

.line-1 {
    position: relative;
    left: 50%;
}

.feed:hover {
    opacity: 100% !important;
}

.search-bar {
    display: none;
}

.most-liked {
    display: none;
}

.accounts {
    display: none;
}

.people-id {
    display: none;
}

/*---------------------------responsive-media-screen--------------*/


@media (max-width:992px) {
    .nav-list {
        flex-direction: column !important;
        width: 100%;
        height: 100%;
        justify-content: center;
        background-color: white;
        position: fixed !important;
        left: 0;
        top: -100%;
        z-index: 4;
        transition: all 0.3s;
        height: 100vh;
    }

    label[for="menubar"] {
        width: 32px;
        height: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        cursor: pointer;
        z-index: 5;
        margin-top: 20px;
    }

    label[for="menubar"] span {
        width: 100%;
        height: 5px;
        margin: 2px 0;
        background-color: black;
        z-index: 5;
    }

    input[type="checkbox"]:checked~.nav-list {
        top: 0;
    }

    .search {
        display: none;
    }

    .search-bar {
        display: block;
    }

    .colum-revers {
        flex-direction: column-reverse;
    }

    .radio-btn {
        display: none;
    }

    .most-btn {
        padding: 5px 12px;
        border-radius: 25.5px;
        border: 0;
    }

    .user {
        display: none;
    }

    .most-liked {
        display: block;
    }

    .most-btn:hover {
        background: #000;
        color: white;
      
    }

    .people-id {
        border: 1px solid #00000033;
        min-width: 150px;
        height: 150px;
        display: block;
    }
}


@media (max-width:768px) {

    .logo-img {
        width: 40px;
        height: 40px;
    }

    .navbar-img {
        width: 40px;
        height: 40px;
    }


    .mb-76 {
        margin-bottom: 30px;
    }

    .icon-img {
        max-width: 42px;
        max-height: 42px;
    }

    .coment {
        padding: 8px 16px;
    }
}


@media (max-width:512px) {

    .logo-img {
        width: 30px;
        height: 30px;
    }

    .navbar-img {
        width: 30px;
        height: 30px;
    }

    label[for="menubar"] {
        width: 25px;
        height: 18px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        cursor: pointer;
        z-index: 5;
        margin-top: 5px;
    }

    .mb-76 {
        margin-bottom: 20px;
    }

    .icon-img {
        max-width: 32px;
        max-height: 32px;
    }

    .coment {
        padding: 8px 16px;
    }
}